{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="entry-content">
                    <h2>特定商取引に関する法律に基づく表記</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th>販売業者</th>
                                <td>株式会社YOUDEAL</td>
                            </tr>
                            <tr>
                                <th>運営責任者</th>
                                <td>株式会社YOUDEAL</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>〒104-0043<br>
                            東京都中央区湊3-2-9丹波ビルB1</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>03-5244-9855（平日13:30～17:00）</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>you@youdeal.co.jp</td>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <td>https://kuzibiki.com</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>注文方法 当サイト上で、購入をご希望の商品(くじ)とその数量を選択し、注文者情報を入力後に「購入する」ボタンを押された時点で、商品注文確定致します。</p>
                    <p>商品以外の必要代金 配送手数料となります。。<br>
                    また、インターネットの利用に関わる全ての料金(インターネット通信費・通信デバイス費など)はお客様ご負担となります。</p>
                    <p>支払方法 クレジットカード決済(VISA/MasterCard/JCB/AMEX/DINERS)がご利用いただけます。</p>
                    <p>支払期限 クレジットカードは即日決済となります。</p>
                    <p>引渡し時期 ご購入いただいた商品(くじ)は、各商品ページにて記載してあります「お届け目安」時期に配送となります。</p>
                    <p>&nbsp;</p>
                    <h3>返品・交換について</h3>
                    <p>・お客様のご都合による、ご注文後の返品・交換等はお受けできません。<br>
                    ・商品不具合の場合、当社が不具合と認めた場合に限り、交換対応を承ります。<br>
                    ・理由の如何に関わらず、返金・注文取消は承れませんので予めご了承ください。</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
