{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>注意事項</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="entry-content">
                <div class="kiyakuContentsInner">
                <div>
                <h2>推奨環境について</h2>
                <p class="singleSentence">バーチャルくじびきをご利用いただくにあたり、下記のブラウザおよび環境を推奨しております。</p>
                <p></p>
                <p class="leftMarginSentence">＜推奨ブラウザ＞<br>
                    ・Internet Explorer 11以上<br>
                    ・Microsoft Edge 最新版<br>
                    ・Google Chrome 最新版<br>
                    ・Mozilla Firefox 最新版<br>
                            ・Safari 最新版</p>
                <p>            ＜スマートフォン＞<br>
                    ・iOS（iPhone）…iOS 8以上<br>
                            ・Android…Android 4.0以上</p>
                <p>            ＜ブラウザ設定＞<br>
                    ・JavaScript を『有効』<br>
                    ・Cookie を『有効』<br>
                            ・ポップアップを『有効』</p>
                <p>            ※正常に作動しない場合は、ブラウザの設定でCookieおよびポップアップを有効にする設定をしてください。<br>
                            ※フィーチャーフォンは対応しておりません。予めご了承ください。</p>
                <h2>ご利用の年齢制限について</h2>
                <p class="singleSentence">お客様が20歳未満の未成年者の場合、保護者の許可を得ない限り、バーチャルくじびきはご利用いただけません。未成年者がご注文の場合でも、保護者の許可を得たものと見なし、ご注文のキャンセル・返品の受け付けはいたしかねます。予めご了承ください。</p>
                <h2>商品の対象年齢について</h2>
                <p class="singleSentence">バーチャルくじびきで取り扱う商品には対象年齢が15歳以上のものが多くあります。対象年齢未満の方は購入をお控えください。</p>
                <h2>価格について</h2>
                <p class="singleSentence">バーチャルくじびきの価格表記は、消費税抜の本体価格となります。※消費税込の金額表記の場合はその旨を記載しております。</p>
                <h2>送料（配送手数料）について</h2>
                <p class="singleSentence">同一くじ/同一配送先に限り、1回分の送料（配送手数料）でお届けできるくじ数まで1回分の送料で配送が可能です。<br>
                            ※ご注文が1回分の送料でお届ける個数上限を超えた場合、以降くじの個数上限ごとに送料が発生します。</p>
                <p></p>
                <p class="leftMarginSentence">例）くじ10個まで1回分の送料でお届けの場合<br>
                    【くじ1個～10個購入のとき】 同一くじ/同一配送先に限り、1回分の送料でお届け可能<br>
                            【くじ11個～20個購入のとき】 同一くじ/同一配送先に限り、2回分の送料でお届け可能</p>
                <p class="leftMarginCausion">＜ご注意＞1回分の送料でお届けできるくじ数は、各くじ毎で異なります。各商品（くじ）ページをご確認ください。</p>
                <h2>お支払について</h2>
                <p class="singleSentence">お支払いは、クレジットカード（VISA、MasterCard、JCB、AMEX、DINERS）、キャリア決済（ドコモ、au、SoftBank）、WebMoney（ウェブマネー）にて承っております。決済は決済代行業者「株式会社GMOペイメントゲートウェイ」を通じて行われます。<br>ご利用するクレジットカード等は、お客様の本人名義である必要があります。ご請求は「バーチャルくじびき」という表示でさせていただきます。</p>
                <p></p>
                <p class="singleSentence">ご請求はご注文完了後（くじの抽選結果の表示後）、即時となります。お支払いの回数は１回払いとさせていただきます。<br>※クレジットカードやキャリア決済をご利用の場合、お客様の口座からの引き落とし時期につきましては、ご利用のクレジットカード会社・キャリアに準じます。</p>
                <p></p>
                <p class="singleSentence">決済時に各種お支払い方法で承認が得られなかった場合はご注文いだだけません。<br>（クレジットカード等の有効期限外、カード名義が違う、利用限度額の超過　等）</p>
                <p></p>
                <p class="singleSentence">領収書の発行は承っておりません。予めご了承ください。</p>
                <h2>注文者情報の登録（ログイン機能のご利用）のご注意</h2>
                <p class="singleSentence">フリーメールアドレス(gmail.com　yahoo.co.jp　hotmail.com　hotmail.co.jp等の、無料で取得可能なドメインのメールアドレス）をご利用の場合、バーチャルくじびきからのメールが「迷惑メール」フォルダに振り分けられてしまうことがございます。「受信箱」に見当たらない場合、「迷惑メール」フォルダもご確認ください。</p>
                <h2>注文者情報の登録（ログイン機能のご利用）について</h2>
                <p class="singleSentence">バーチャルくじびきのご利用には注文者情報の登録が必要となります。「プライバシーポリシー」をご確認の上、ご登録ください。</p>
                <p></p>
                <p class="leftMarginSentence">▼プライバシーポリシーこちら<br>
                            <a href="/privacy/">/privacy/</a></p>
                <h2>ログイン時のID／パスワードについて</h2>
                <p class="singleSentence">ID・パスワードは第三者に知られぬよう大切に保管してください。パスワードをお忘れの場合は、パスワードの再発行が可能です。</p>
                <p>こちらからお手続きください。尚、IDをお忘れの場合につきましては、IDはお客様のメールアドレスとなり個人情報となりますため、お教えすることができかねます。お手持ちのメールアドレスをご確認ください。</p>
                <p></p>
                <p class="leftMarginSentence">▼パスワードの再発行はこちら<br>
                            <a href="/usces-member/?page=lostmemberpassword/">/usces-member/?page=lostmemberpassword/</a></p>
                <h2>個人情報の取り扱いについて</h2>
                <p class="singleSentence">「プライバシーポリシー」をご確認ください。</p>
                <p></p>
                <p class="leftMarginSentence">▼プライバシーポリシーこちら<br>
                            <a href="/privacy/">/privacy/</a></p>
                <h2>注文者情報の削除について</h2>
                <p class="singleSentence">ログイン後「マイページ」の「注文者情報削除」よりご登録情報の削除ができます。ご登録情報を削除されますと、過去の注文情報の閲覧ができなくなりますのでご注意ください。</p>
                <p>ご登録情報を削除されてもお取引中の商品（くじ）がある場合には、お取引は完了まで継続されます。</p>
                <p></p>
                <p class="leftMarginSentence">▼注文者情報の削除はこちら<br>
                            <a href="/usces-member/">/usces-member/</a></p>
                <h2>ご注文について</h2>
                <p class="singleSentence">購入したい商品(くじ)とその数量を選択し、注文者情報を入力後に「購入する」ボタンを押下した時点で、商品のご注文が確定いたします。正常に決済が完了いたしますと、ご注文確定（くじの抽選）となります。</p>
                <p>ご注文完了時には「注文完了のご案内メール」を登録されたメールアドレス宛にお送りしますので、商品がお手元に届くまで当該メールを大切に保管されますようお願いします。</p>
                <p>            商品（くじ）のご購入にはログイン機能へのご登録（注文者情報の登録）が必要です。</p>
                <p>※バーチャルくじびきでは封書・Eメール・電話・FAXでのご注文は受け付けておりません。当Webサイトからのみご注文が可能となります。予めご了承ください。
                        </p>
                <h2>在庫について</h2>
                <p class="singleSentence">ご注文時に在庫がある場合でも、決済の受付順によって在庫切れとなってしまう場合もございます。予めご了承ください。</p>
                <h2>変更・交換・キャンセルについて</h2>
                <p class="singleSentence">ご注文確定後（くじの抽選後）の、変更・交換・キャンセルは、お受けしておりません。よくご検討の上、ご注文ください。</p>
                <p>くじの抽選結果と異なる商品との交換はいたしかねます。賞に複数種の商品がある場合におきましても、くじの抽選結果と異なる同一賞の別商品への交換もいたしかねますので予めご了承ください。</p>
                <h2>決済時の誤操作による重複注文のご注意</h2>
                <p class="singleSentence">「注文する」ボタン押下時および、各決済会社の決済画面内の「決済する」ボタンを押下時に、回線状態によっては次のページが表示されるまで長く時間がかかる場合がありますが、そのときは続けてボタンを押さず1回押したままでしばらくお待ちください。</p>
                <p>注文ボタンや決済ボタンの二度押し等の誤操作による重複注文でもご注文のキャンセルは出来ません。 予めご了承ください。</p>
                <h2>海外からのご注文について<br>About orders from outside Japan.</h2>
                <p class="singleSentence">日本国外からの注文はtenso.comを利用して配送することが出来ます。</p>
                <p>            Orders from outside Japan can be delivered using tenso.com.<br><a href="https://www.tenso.com/static/lp_shop_index/">https://www.tenso.com/static/lp_shop_index/</a></p>
                <h2>くじに付随する各種特別賞について</h2>
                <p class="singleSentence">くじで獲得できる景品とは別にラッキーゲット賞やキリ番賞などを設ける場合がございます。特典がイベントの場合、お客様のご都合により、本イベントサービスを受領しなかったとき、または途中離団された場合は、お客様の権利放棄とみなし、当社は一切の払い戻しをいたしません。<br>イベント運営上当社の予期せぬ地震・風水害・荒天候の天災、事件・事故等による中止をすることがございます。その場合での当社からの返金はいたしかねます。但し、当社の都合による、本イベントの中止または中断に関しては、この限りではありません。</p>
                <h2>配送について</h2>
                <p class="singleSentence">各くじにあります「商品の配送目安」の頃に配送となります。配送完了した時点で、ご登録いただいたメールアドレスに「配送のご案内メール」をお送りいたします。<br>お届けする商品が複数の場合、商品によっては同日のお届けとならず時期が若干ずれることがあります。予めご了承ください。</p>
                <p>当選したくじ商品によっては、購入くじ数以上の配送個数または、購入くじ数以下の同梱配送になることがあります。配送種類も、メール便・宅配便など複数となる場合もあります。</p>
                <p>            ※配送業者の指定は出来ません。 <br>
                            ※配送時間希望の対応しておりません。 
                        </p>
                <h2>ご注文後のお届け先の変更について</h2>
                <p class="singleSentence">ご注文のくじが販売期間中であればお届け先住所の変更が可能です。ご注文のくじが販売期間中の場合は「マイページ」からお届け先の変更が可能です。購入履歴一覧からお届け先を変更したい注文を選び変更してください。</p>
                <p></p>
                <p class="leftMarginSentence">▼マイページはこちら<br>
                            <a href="/usces-member/">/usces-member/</a></p>
                <h2>商品の再配送について</h2>
                <p class="singleSentence">ご入力いただいたお届け先ご住所に誤りがあったり、長期のご不在で運送会社の保管期間が超過しますと、商品は当方に返送されます。</p>
                <p>当方まで返送された商品の再配送をご希望の場合、ご注文時の送料とは別に再配送の送料をご負担いただきます。再配送時には送料着払いで配送いたしますので、お届けした運送会社に再配送分の送料をお支払ください。以上のことをご了承いただいた上で「お問い合わせ」からご依頼ください。</p>
                <p></p>
                <p class="leftMarginSentence">▼お問い合わせフォームはこちら<br>
                            <a href="/contact/">/contact/</a></p>
                <p></p>
                <p class="leftMarginCausion">＜ご注意＞再配送のご手配は一度とさせていただきます。再配送をご希望され、再び商品をお受け取りいただけなかった場合には、ご注文をキャンセルとさせていただきます。受け取り不可によりキャンセルとなった場合、商品代金の返金はいたしませんので予めご了承ください。</p>
                <h2>商品の保管期間について</h2>
                <p class="singleSentence">当方まで返送された商品の保管期間は、発送日から60日間とさせていただきます。<br>保管期限を過ぎた商品の再発送はいたしかねます。代金の返金もいたしかねますので予めご了承ください。</p>
                <h2>お問い合わせについて</h2>
                <p class="singleSentence">「お問い合わせ」より、24時間受け付けております。お手数ではございますが、より適切且つ迅速な対応をさせていただくために「よくあるご質問（FAQ）」をご確認の上でのお問い合わせにご協力賜りますようお願いいたします。</p>
                <p></p>
                <p class="leftMarginSentence">▼お問い合わせフォームはこちら<br>
                            <a href="/contact/">/contact/</a></p>
                <h2>返品について</h2>
                <p class="singleSentence">サービスの特性上、お客様都合による商品の返品は承りかねます。商品が破損・汚損している場合、不良を起こして商品本来の役割をなさない場合（音声再生商品の機械部分の不具合・DVD商品の映像データ破損等）、くじの抽選結果と異なった商品が届いた場合、内容物や付属品等に欠品がある場合は返品を承ります。</p>
                <p>大変お手数ではございますが、商品到着から7日以内に「お問い合わせ」より、ご注文ID・不良がある商品名・不良状況をご連絡ください。当方でお調べした後、改めてお客様にご連絡をいたします。</p>
                <p></p>
                <p class="leftMarginSentence">▼お問い合わせフォームはこちら<br>
                            <a href="/contact/">/contact/</a></p>
                <p></p>
                <p class="singleSentence">商品交換となった場合、お客様が不良品をお送りいただきます際の、送料・手数料は当方にて負担いたします。<br>不良品をお送りいただくときに、梱包材が必要となりますので、お手数ではございますが、開封時に破棄なさらないようお願いいたします。</p>
                <p>破損や汚損につきましては、一般的な流通商品と比べて著しく状態の悪いもののみが交換対象となります。</p>
                <p>当方で販売に支障のない商品と判断させていただいた場合は、交換をお受けできないこともございますので、予めご了承ください。</p>
                <p></p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}