{#
    This file is part of EC-CUBE
    
    Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
    
    http://www.ec-cube.co.jp/
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
    #}
    {% extends 'default_frame.twig' %}
    
    {% set body_class = 'page-template-default page page-id-17 page-parent logged-in' %}
{% block main %}
    <div id="main" class="wrapper one-column no-padding">
        <section id="item_list" class="item_list_old block">
            <div class="container">
                <div class="row">
                    <article id="post-613" class="old_item">
                        <a href="https://develop-test.xsrv.jp/sample_kuji_demo/%e9%80%9a%e5%b8%b8%e3%81%8f%e3%81%98_%e3%82%a2%e3%83%8b%e3%83%a1%e3%83%bc%e3%82%b7%e3%83%a7%e3%83%b3off/" title="通常くじ_アニメーションOFF" class="article_inner triangle">
                            <div class="itemimg">
                                <img src="https://develop-test.xsrv.jp/sample_kuji_demo/wp-content/uploads/2019/08/1200x800-1-1-500x333.png" class="img-responsive center-block" alt="通常くじ_アニメーションOFF">
                             </div>
                            <div class="content">
                                <div class="itemname">通常くじ_アニメーションOFF</div>
                                    <div class="date">販売期間：8月10日</div>
                            </div>
                            <div class="ribbon isticket"><h2>ニコニコチケット購入者限定</h2></div>
                        </a>
                    </article>        
                </div>
            </div>
        </section>
    </div>
{% endblock %}