{% extends 'default_frame.twig' %}

{% block main %}
<article class="post-108 page type-page status-publish" id="post-108">
	<header class="entry-header text-center">
		<h1 class="entry-title mgb50">支払い方法</h1>
	</header>
	<div class="entry-content">
		<ul>
            <li>お支払いは、クレジットカード（VISA、MasterCard、JCB、AMEX、DINERS）がご利用いただけます。<br>
                また一部のデビット/プリペイドカードはお使い頂けない可能性がございます｡<br>
                尚、auウォレットプリペイドカードはご利用いただけません。<br>
                利用可否は発行カード会社様側での判断となり、<br>
                弊社側で正確な情報は持ち合わせておりませんことをご了承ください。<p></p>
                <p>※くじをお選びいただいて、「上記内容で注文する」ボタンを押すと決済が発生します。</p>
            </li>
        </ul>
        <ul class="payNotice">
            <li style="list-style-type: none;">※ご注文完了後は、お客様都合によるキャンセル・返品・他商品（くじ）との交換はできかねますのでご注意ください。</li>
        </ul>
	</div><!-- .entry-content -->
</article>
{% endblock %}