{% extends 'default_frame.twig' %}

{% block main %}
    <article class="post-117 page type-page status-publish" id="post-117">

	<header class="entry-header text-center">
		<h1 class="entry-title mgb50">よくあるご質問</h1>
	</header>
	<div class="entry-content">
		<div class="qaContentsInner">
            <h2>バーチャルくじびきについて</h2>
            <ul>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>利用環境について</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">パソコンもしくはスマートフォン（iOS、Andoroid）からご利用が可能です。フィーチャーフォンへの対応はしておりません。<br>
                    ログインできないなどエラーが発生した際には、他のブラウザでのアクセスをお試しください。<br>
                    解決しない際にはお手数ですが<a href="https://kuzibiki.com/contact/">問い合わせフォーム</a>よりご連絡くださいませ。<br>
                    ※パソコンもしくはスマートフォンにおきましても、一部の機種・環境において非対応の場合もあります。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>未成年も利用できるの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">20歳未満の方は保護者の許可を得ない限り、当サービスをご利用いただけません。<br>
                    20歳未満の方がご注文された場合におきましては、保護者の許可を得たものとみなし、<br>
                    ご注文完了後のキャンセル・返品の受け付けはいたしかねますので予めご了承ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>商品やサービスに関しての問い合わせ方法は？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">商品および当サービスに関するお問い合わせは<a href="https://kuzibiki.com/contact/">こちら</a>。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>退会したい</p></li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">退会は、ログイン後に<a href="/notice/">こちら</a>よりお手続きできます。</p>
                    <p class="answer">ただし、お取引中のご注文がある場合、退会しましてもお取引完了まで継続されます。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>個人情報の取り扱いについて知りたい</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer"><a href="/privacy-policy">プライバシーポリシー</a>をご確認ください。</p>
                </li>
            </ul>
        </div>
        <div class="qaContentsInner">
            <h2>ログインについて</h2>
            <ul>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>ログインしないとくじは買えないの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">当サービスはログイン機能（注文者情報）の登録後に、くじのご購入が可能となります。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>IDを忘れた</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">IDはメールアドレスとなります。お客様の個人情報となるためお答えしかねます。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>パスワードを忘れた</p></li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">「パスワードの再発行」は<a href="https://kuzibiki.com/usces-member/?page=lostmemberpassword">こちら</a>にてお手続きできます。</p>
                    <p class="qaCausion">ご登録いただいているメールアドレス宛てに「パスワード再発行メール」をお送りしますので、手順に沿って新たなパスワードの設定をお願いいたします。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>ログインできない</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">パソコンの買い替えやスマートフォンを機種変更された場合、利用環境によってはログインできなくなることがあります。</p>
                    <p class="answer">お手数ですが<a href="https://kuzibiki.com/contact/">こちら</a>にご連絡ください。</p>
                </li>
            </ul>
        </div>
        <div class="qaContentsInner">
            <h2 class="mgt30">お支払いについて</h2>
            <ul>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>どんな支払い方法があるの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">お支払いは、クレジットカード（VISA、MasterCard、JCB、AMEX、DINERS）がご利用いただけます。<br>
                    また一部のデビット/プリペイドカードはお使い頂けない可能性がございます｡<br>
                    尚、auウォレットプリペイドカードはご利用いただけません。<br>
                    利用可否は発行カード会社様側での判断となり、<br>
                    弊社側で正確な情報は持ち合わせておりませんことをご了承ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>領収書は発行できる？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">領収書の発行はしておりません。</p>
                </li>
            </ul>
            <h2 class="mgt30">注文内容の確認について</h2>
            <ul>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>注文が正常に完了しているか確認したい</p
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">正常に決済が完了しますと、ご登録いただいたメールアドレス宛てに【ご注文内容の確認】をお送りいたします。<br>
                    こちら正常に決済が完了された時点にて各くじの抽選確率に沿って、当選内容は決定されます。<br>
                    アニメーションのON・OFF、スキップは抽選結果に影響されません。</p>
                    <p class="qaCausion">また、ログイン後「<a href="/usces-member/">マイページ</a>」＞「購入履歴一覧」でご確認いただけます。<br>
                    ※注文完了のご案内メールの送信および、マイページの注文履歴の反映には、少しお時間をいただく場合があります。予めご了承ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>当たった商品を確認したい</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">ログイン後、<a href="/usces-member/">マイページ</a>にあります購入履歴よりご確認いただけます。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>返品・交換・キャンセルはできるの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">抽選結果を伴うサービスの特性上、お客様都合による返品・交換・キャンセルはできません。予めご了承ください。<br>
                    商品に不良があった場合は、お手数ではございますが、<a href="/notice/">注意事項</a>の「返品について」をご確認の上、お受け取り後7日以内に<a href="/contact/">こちら</a>にご連絡ください。</p>
                </li>
            </ul>
        </div>
        <div class="qaContentsInner">
            <h2 class="mgt30">配送について</h2>
            <ul>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>送料の金額は？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">各くじ毎に送料の金額が異なります。各商品（くじ）ページをご確認ください。<br>
                    データ賞品のみの場合であっても，データ賞品発送のための手数料として，送料をご負担いただくこととなります。ご了承ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>送料1回分で届くくじ数は？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p>くじによっては同一くじ/同一アカウントに限り、<br>
                    1回分の送料（配送手数料）でお届けできるくじ数までお届けします。<br>
                    ＜ご注意＞1回分の送料でお届けできるくじ数は、各くじ毎で異なります。各商品（くじ）ページをご確認ください。<br>
                    ※ご注文が1回分の送料でお届ける個数上限を超えた場合、以降くじの個数上限ごとに送料が発生します。<br>
                    ※データ賞品のみの場合であっても，データ賞品発送のための手数料として，送料をご負担いただくこととなります。ご了承ください</p>
                    <p>&nbsp;</p>
                    <p>例）くじ10個まで1回分の送料でお届けの場合<br>
                    【くじ01個～10個購入のとき】同一くじ/同一配送先に限り、1回分の送料でお届け！<br>
                    【くじ11個～20個購入のとき 】同一くじ/同一配送先に限り、2回分の送料でお届け！<br>
                    【くじ21個～30個購入のとき】同一くじ/同一配送先に限り、3回分の送料でお届け！<br>
                    ※複数の送り先となる場合は対象外となります。ご了承くださいませ。</p><
                /li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>商品はどのように送られて来るの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">当選した商品によっては、購入くじ数以上または、それ以下の同梱配送になることがあります。配送種類も、メール便・宅配便など複数となる場合もあります。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>商品はいつ届くの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">「くじを引く」ボタンの上段にある、商品の配送目安の頃に配送となります。<br>
                    お届けする商品が複数の場合、商品の到着日が複数日にまたがる可能性があります。予めご了承ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>注文完了後に届け先住所を変えられるの？</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer">お手数ですが<a href="/contact/">こちら</a>(お問合せページ)から住所変更の旨をご連絡ください。</p>
                </li>
                <li>
                    <p class="maruLetter orangeColor">Q</p>
                    <p>運送会社の保管期間が過ぎてしまった商品の再配送をしてほしい</p>
                </li>
                <li>
                    <p class="maruLetter redColor">A</p>
                    <p class="answer"><a href="/notice/">注意事項</a>の「商品の再配送について」と「商品の保管期間について」をご確認ください。</p>
                </li>
                </ul>
            </div>
	    </div><!-- .entry-content -->

</article>
{% endblock %}