{#
Copyright (c) 2018 VeriTrans Inc., a Digital Garage company. All rights reserved.
http://www.veritrans.co.jp/
#}

<script>
$(function() {
$('ul.ec-navlistRole__navlist').append(
'<li class="ec-navlistRole__item {% if mypageno|default('') == 'vt4g_subsc_payment' %}active{% endif %}">' +
'<a href="{{ url('mypage_vt4g_subsc_payment') }}" style="font-size:0.8em;">{{ '継続課金決済履歴'|trans }}</a>' +
'</li>'
);
});
</script>
