<div class="card rounded border-0 mb-4">
    <div class="card-header"><span>商品</span></div>
    <div class="card-body">
        <div class="row">
            <div class="col-3"><span>商品画像</span></div>
            <div class="col">
                <img src="{ image }">
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-3"><span>商品名</span></div>
            <div class="col">
                <p class="text-center">{ name }</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-3"><span>在庫数</span></div>
            <div class="col">
                <p class="text-center">{ remain }</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-6" class="align-items-center justify-content-end">
                <a class="btn btn-primary text-white" id="item-insert">modify</a>
                <a class="btn btn-primary text-white" id="item-delete">delete</a>
            </div>
        </div>
    </div>
</div>